---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]  # only show errors and warnings
  - repo: local
    hooks:
      - id: circleci
        name: CircleCI Config validate
        language: system
        entry: circleci config validate
        files: '\.circleci/config\.yml'
        stages:
          - commit
      - id: check-annotations
        name: Check for forbidden configs in annotations
        entry: CONFIG_CC_CAN_LINK|CONFIG_CC_CAN_LINK_STATIC
        language: pygrep
        files: overlay/debian.k3os/config/annotations
